.topbar{
    width: 1000px;
    margin: 0 auto;
    height: 40px;

}

body{
    margin: 0;
    padding: 0;
}
#logo{
    margin-top: 8px;
    float: left;
    margin-right: 8px;
}
.top-bar-section{
    float: left;
    border-left: 1px #cccccc solid;
    height: 100%;
}
#font-aws{
    margin-top: 8px;
    font-size: xx-large;
    /* width: 0px; */
   

}